{% load static %}
<!DOCTYPE html>
<html lang="en"›
<head>
<meta charset="UTF-8"›
<meta http-equiv="X-UA-Compatible" 
content="IE=edge>
<meta name=" viewport"  content="width=device-width,
initial-scale=1.0" ›
<title>Document Index</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="designer">
<h1>This is the Tshirt Company Designer Page</h1>
<p>Insert witty text!</p>
<img src="{% static 'img/image.svg' %}">
<p><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium dolorum sed nulla inventore iure doloremque quia fugiat illo sequi, id, delectus nisi adipisci dolor, obcaecati fugit. At amet numquam nisi?</span><span>Voluptate, consequatur laboriosam molestias tempora amet quis dicta reiciendis molestiae explicabo nam magni fugiat incidunt et cum modi saepe dolor alias placeat exercitationem aspernatur temporibus vitae nihil corporis dolorum! Excepturi!</span></p>
</body>

</html>